.card{
    background-color: rgb(169, 151, 186);
    border-radius: 20px;
    text-decoration-color: whitesmoke;
    font-weight: bold;
}
.link{
    color: brown;
}

.container
{
    padding-top: 9%;
}

.h5{
    padding-top: 20%;
}
