<nav class="navbar navbar-expand d-flex flex-coloum align-items-start" id="sidebar">
    <div class="nav-item align-items-center">
        <div class="row">
            <a href="/dashboard" type="button" class="btn btn-outline btn-sm m-2">Ocean Import</a>
        </div>
       <div class="row">
        <a href="/dashboard" type="button" class="btn btn-outline- btn-sm m-2">Ocean Export</a>
       </div>
       <div class="row">
        <a href="/dashboard" type="button" class="btn btn-outline btn-sm m-2">Air Import</a>
       </div>
       <div class="row">
        <a href="/dashboard" type="button" class="btn btn-outline- btn-sm m-2">Air Export</a>
       </div>
       <div class="row">
        <a href="/livetracking" type="button" class="btn btn-outline-  m-2">Live Tracking</a>
       </div>
       <div class="row">
        <a href="/dashboard" type="button" class="btn btn-outline-  m-2">SOA</a>
       </div>
       <div class="row">
        <a href="/dashboard" type="button" class="btn btn-outline-  m-2">Customer</a>
       </div>
        <div class="row m-2">
            <select class="form-select" aria-label=".form-select-sm example" style="background:whitesmoke">
                <option selected>All</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
    </div>
</nav>
<div class="py-3"></div>