 <nav class="nav navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="assets/img/1508928975_uCGMwe_big_(2).jpg" alt="" width="100">
        <a href="/ticketnew" type="button" class="btn btn-sm m-2">HOME</a>
        <a href="/ticket" type="button" class="btn btn-sm m-2">MOVIES</a>
        <a href="/ticket" type="button" class="btn btn-sm m-2">THEATRES</a>
        <a href="/ticket" type="button" class="btn btn-sm m-2">EVENTS</a>
        <a href="/ticket" type="button" class="btn btn-sm m-2">ORDERS</a>
          <div class="position-absolute top-0 end-0">
            <a href="/login" type="button" class="btn btn-sm m-2"><i class="fa-solid fa-user"> </i>LOGIN/REG</a>
            <a href="/ticket" type="button" class="btn btn-sm m-2">ORDERS</a>
        </div>
    </div>
    
    </nav>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ getSlide() }}" alt="First slide">
        </div>
        <a class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <button (click)="getPrev()"></button>
        </a>
        <a class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <button (click)="getNext()">Next</button>
        </a>
      </div>

<div class="container justify-content-center d-flex mt-4">
   <h4> <u style="text-decoration-color:orangered">   M O V I E
      </u></h4>
</div>
 
<div class="row">
    <div class="container justify-content-center d-flex mt-4">
        <div class="col-8">
            <div class="show card-body">
                <a href="/ticketnew" type="button" class="btn btn-lg m-2">NEW SHOWING</a>
                <a href="/ticket" type="button" class="btn btn-lg m-2">COMING SHOWING</a>
            </div>
        </div>
    </div>
    
</div>
<div class="con container">
<div class="row gap-3 mt-3">
    <div class="card col-md-3">
            <img class="card-img-top" src="assets/img/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-text">viduthalai part 1 (Tamil)</h4>
             <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
            </div>
    </div>
    <div class="card col-md-3">
        <img class="card-img-top" src="assets/img/7.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-text">John Wick Chapter
             4 (A) 
            English</h5>
          <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
        </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="assets/img/8.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-text">Dasara (U/A) - Tamil
    </h5>
          <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="assets/img/10.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-text">Pathu Thala - Tamil</h5>
          <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="assets/img/11.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-text">Higuita - Malayalam</h5>
          <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
    </div>
</div>
<div class="card col-md-3">
    <img class="card-img-top" src="assets/img/12.jpg" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-text">Shazam-Fury of the Gods (U/A) - English</h5>
          <div class="btn1"><button type="button" class="btn btn-warning btn-lg">BOOK</button></div>
    </div>
</div>
</div>
<div class="row">
    <div class="container justify-content-center d-flex mt-4">
        <a href="/ticketnew" type="button" class="btn btn-sm m-2"><h3>Viewmore></h3></a>
    </div>
</div></div>

<img src="assets/img/Web capture_28-3-2023_172835_www.ticketnew.com.jpeg" alt="logo" width="2200">