.r{
    padding-top: 12%;
    font-weight: 200;
    font-family:poppins;
    padding-top: 20%;
}
.text-block-49{
    text-decoration-color: white;
    font-family:poppins;
    padding-left: 0%;
    font-weight: 100;
}
.text-block-50{
    text-decoration-color: white;
    font-family:poppins;
    padding-left: 0%;
    font-weight: 700;
}
.text-block-48{
    text-decoration-color: white;
    font-family:poppins;
    padding-top: 0%;
    padding-left: 0%;
    font-weight: 300;
}
.text-block-51{
    text-decoration-color: white;
    font-family:poppins;
    font-weight: bold;
    padding-left: 10%;

}
.text-block-52{
    text-decoration-color: white;
    font-family:poppins,sans-serif;
    padding-left: 10%;
    font-weight: 36px;

}
.card1{

    padding-bottom: 5%;
    background:navajowhite;
}
.rating{
    background-color: whitesmoke;
    padding-bottom: 8%;
}

.img1{
    padding-left: 20%;
}
.crd1{
    background-color: #405189;
    font-weight: 600;
    font-family: poppins;
}
.linkbtn{
    background-color: #FFECDC;
}

.tab-link-shipping-partners {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .tab-link-shipping-partners:hover {
    background-color: #3e8e41;
  }
  .crd2{

    padding-bottom: 5%;
    background: #405189;
}

.r1{
    padding-left: 19%;
}
.crd3{
    font-family: poppines,sans-serif;
    background: #F1A268;
    font-size: medium;
}
.ShoppingBenefits{
    background-color: #405189;
    color: #111d30;
    padding-bottom: 9%;
    font-family: poppins,sans-serif;
    align-items: center;
}
.card-1{
    padding-left: 13%;
}

.text-block-1{
    font-family: 36px,poppins,sans-serif;
    margin: (0px,0px,40px);
}
.card-2{
    padding-left: 19%;
    font-family: poppins,sans-serif;
}

.best{
    font-family: poppins;
    align-items: center;
}
.table1{
    font-family: poppins,sans-serif;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.thead-dark{
    background-color: #EB5824;
    color: white;
}