<div class="container">
        <div class="row r">
            <div class="col-md-5">
                <div class="card card1">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-">
                                    <label for="exampleInputEmail1">WHERE IS YOUR MERCHANDISE?</label>
                                    <select class="form-control form-control-md mt-2" name="category">
                                      <option value=""><strong>Choose1</strong> </option>
                                      <option value="">Choose1... </option>
                                      <option value="">Choose2... </option>
                                    </select>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="exampleInputEmail1">WHERE ARE YOU SHIPPING TO?</label>
                                    <select class="form-control form-control-md mt-2" name="category">
                                      <option value=""><strong>Choose your country</strong> </option>
                                      <option value="">India</option>
                                      <option value="">USA</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="exampleInputEmail1">TELL US ABOUT THE PACKAGE SIZE AND WEIGHT</label>
                                </div>
                                    <div class="col-md-6 mt-2">
                                        <input type="number" class="form-control form-control-sm" placeholder="Weight">
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control form-control-sm mt-2" name="category">
                                          <option value="">KG/CM</option>
                                          <option value="">LB/IN</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input type="number" class="form-control form-control-sm" placeholder="Length">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input type="number" class="form-control form-control-sm" placeholder="Wedth">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <input type="number" class="form-control form-control-sm" placeholder="Heigth">
                                    </div>
                                    <p class="mt-3">
                                        Why dimensions matter?
                                    </p>
                                    Learn More About<button class="btn btn-primary mt-3">Get shop Rate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-block-49">
                    Tax-Free Shopping From The USA!​
                 </h2>
                 <h1 class="text-block-48 col-md-6">
                    Ship7 just got even better with a Tax-free shopping option!
                 </h1>
                 <p class="text-block-50 col-md-6 mt-3">
                    Save big with Tax-Free shopping thanks to our Delaware warehouse.
                 </p>
                    <button class="btn mt-3 my-3 text-dark" routerLink="/joinus" style="background:navajowhite;">Get your tax fress address</button>
                
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <img src="/assets/pricing/1.png" width="160" class="m-2">
            <img src="/assets/pricing/2.png" width="160" class="m-2">
            <img src="/assets/pricing/3.png" width="160" class="m-2">
            <img src="/assets/pricing/4.png" width="160" class="m-2">
            <img src="/assets/pricing/5.png" width="160" class="m-2">
            <img src="/assets/pricing/7.png" width="160" class="m-2">
            <img src="/assets/pricing/8.png" width="160" class="m-2">
        </div>
        <div class="col-md-12 mt-2">
            <img src="/assets/pricing/9.png" width="160" class="m-2">
            <img src="/assets/pricing/10.png" width="160" class="m-2">
            <img src="/assets/pricing/11.png" width="160" class="m-2">
            <img src="/assets/pricing/12.png" width="160" class="m-2">
            <img src="/assets/pricing/13.png" width="160" class="m-2">
            <img src="/assets/pricing/15.png" width="160" class="m-2">
            <img src="/assets/pricing/16.png" width="160" class="m-2">
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/17.png" width="350" class="m-2 img1">
            </div>
            <div class="col-md-4 mt-3">
                <div class="card crd1">
                    <div class="card-body">
                        <p class="text-white">Ship7 allows you to save more by reducing the weight and dimensions of your packages! We are combining your packages from different stores into one box. Save with our repacking service</p>
                    </div>
                </div>
            </div>
        </div>

</div>

<!-----shop -->
<div class="container  mt-5">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card-body">
       <h1 class="text-block-51">
        Shop without<br>borders
     </h1>
     <p class="text-block-52 mt-2">
      Ship7 is going to be your favorite service with affordable international shipping.All you have 
      to do is shopping what you love. International shipping has never been this easy and cheap before!
   </p>
    </div>
    </div>
  
    <div class="col-md-6">
      <div class="card-body">
        <img src="/assets/1584556612_792_What-to-do-on-Mothers-Day-15-Ideas-to-Innovate.jpg">
      </div>
    </div>
  </div> 
  <div class="d-flex justify-content-center mt-5">
    <h1 class="text-block-52">
      2 EASY STEP TO ORDER
   </h1>
  </div>
  <div class="container">
    <div class="row r1 ">
    <div class="col-md-5 mt-3">
      <div class="card crd2">
          <div class="card-body justify-content-center">
              <h3 class="text-white text-center">
                Step-1
              </h3>
              <p class="text-white text-center mt-3">
                  Start shopping from your favorite retailers <br> USA, UK and TR
              </p>
          </div>
      </div>
        <div class="card crd2 mt-3">
            <div class="card-body justify-content-center">
                <h3 class="text-white text-center">
                  Step-2
                </h3>
                <p class="text-white">
                  Get your FREE Ship7 adress and Ship7 will bring your orders to your doorstep
                </p>
            </div>
        </div>
  </div>
  <div class="col-md-5 mt-3">
    <div class="card crd3">
        <div class="card-body">
          <p class="form-text text-center">
            Try out Ship7 services for reliable and affordable shop&ship service.
          </p>
          <h3 class="text-block-60 mt-3">
            Features:
          </h3>
          <li>free usa,uk and tr addresses</li>
          <li>free 60-day storage</li>
          <li>free package receiving</li>
          <li>free handling</li>
          <li>free insurance service up to $100</li>
          <li>free pictures of orders</li>
          <li>free consolidation</li>
          <li>online tracking of your shipments</li>
          <li>responsive customer service & assistance</li>
          <li>up to 80% discount for shipping services</li>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="d-flex justify-content-center mt-4">
  <button type="button" class="btn btn- btn-primary rounded" routerLink="/joinus">Start Now</button>
</div>
<!----------------------------------------Shopping Benefits------------------------------>

<div class="ShoppingBenefits mt-5">
 <div class="container">
    <div class="row card-1">
      <div class="col-md-5">
        <div class="card  mt-5">
          <div class="card-body">
            <h3>
              Shopping Benefits
            </h3>
            <p>Ship7 offers tax-free address for cost saving.</p>
            <hr>
            <h3 class="text-block-60 mt-3">
              Features:
            </h3>
            <li>No US Sales Tax</li>
            <li>Access to all USA,UK and TR based retailers</li>
            <li>Shopping assistance</li>
            <li>Return handling</li>
            <li>Sales & Coupons notifications</li>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mt-5">
          <div class="card-body">
            <h3>
              Shopping Benefits
            </h3>
            <p>Ship7 is here for a hassle-free shipping experience.</p>
            <hr>
            <h3 class="text-block-60 mt-3">
              Features:
            </h3>
            <li>No hidden fee</li>
            <li>Real-time order tracking</li>
            <li>Freight option for oversize items</li>
            <li>Multi-carrier options</li>
            <li>Free insurance service up to $100</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-link text-light navbar-brand  col-md-3" routerLink="/joinus">See more</button>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <h2 class="text-white text-block-1">
      Special Services Pricing And Fees
    </h2>
    </div>
 <div class="row  card-2">
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-1.png" width="50">
            </div>
              <h3 class="text-center mt-2">Free Membership</h3>
              <h6 class="text-center" style="color: #EB5824;">Free</h6>
              <h6  class="text-center"style="color: #111D3080;">It’s Completely Free to Sign Up and Be a Member!</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card  h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-2.png" width="50">
            </div>
              <h3 class="text-center mt-2">Handling Fee</h3>
              <h6 class="text-center" style="color: #EB5824;">Free</h6>
              <h6 class="text-center"style="color: #111D3080;">Unlike other shipping companies, we do not charge anything for processing! It's Totally Free!</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-3.png" width="50">
            </div>
              <h3 class="text-center mt-2">Consolidation</h3>
              <h6 class="text-center" style="color: #EB5824;">Free</h6>
              <h6 class="text-center"style="color: #111D3080;">
                We send your packages together (not physical repack) under same Tracking # at shipping for Free. So, you save on shipping costs by not paying for them separately!
              </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-2 mt-3">
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-4.png" width="50">
            </div>
              <h3 class="text-center mt-2">Repacking</h3>
              <h6 class="text-center" style="color: #EB5824;">1st package $5, remaining $2</h6>
              <h6  class="text-center"style="color: #111D3080;">When we see a necessity to repack your package(s) for safe delivery of your items; we may split, combine or change packaging.</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card  h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-5.png" width="50">
            </div>
              <h3 class="text-center mt-2">Trash Package</h3>
              <h6 class="text-center" style="color: #EB5824;">Free</h6>
              <h6 class="text-center"style="color: #111D3080;">
                We can demolish packages that you don't want to get delivered to you. Don't worry, we do it for FREE.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-6.png" width="50">
            </div>
              <h3 class="text-center mt-2">Consolidation</h3>
              <h6 class="text-center" style="color: #EB5824;">FREE Up To $100</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Shipments are automatically insured up to $100 value. If your shipment value is more, you can purchase additional insurance starting at $3.
              </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row  card-2 mt-3">
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-7.png" width="85">
            </div>
              <h3 class="text-center mt-2">Storage</h3>
              <h6 class="text-center" style="color: #EB5824;">Free for 60 Days</h6>
              <h6  class="text-center"style="color: #111D3080;">
                Package Storage is FREE for the first 60 days. After 60 days
               we charge daily storage fees. Max storage is 90 days. This duration is 45 days for the oversize items.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card  h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-8.png" width="50">
            </div>
              <h3 class="text-center mt-2">Additional Photos</h3>
              <h6 class="text-center" style="color: #EB5824;">$2/each or $5 for 3</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Every package comes with 3 Free Photos (Inbound Label, Outside of the Box and Inside of the Box). If you want to see more details such as serial numbers;
                 you can always order additional photos.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-9.png" width="50">
            </div>
              <h3 class="text-center mt-2">Scan & Email</h3>
              <h6 class="text-center" style="color: #EB5824;">$2 / 20 pages</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Expecting important documents or financial statements? We can scan and email to you. $2 for first 20 pages, ¢10 / page thereafter.
              </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row  card-2 mt-3">
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-10.png" width="50">
            </div>
              <h3 class="text-center mt-2">Express Processing</h3>
              <h6 class="text-center" style="color: #EB5824;">$5 / order</h6>
              <h6  class="text-center"style="color: #111D3080;">
                Jump to the front of the processing queues! 
                Your package gets VIP treatment. Faster photos, consolidation, special requests and ship-out.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card  h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-11.png" width="50">
            </div>
              <h3 class="text-center mt-2">Special Requests</h3>
                <h6 class="text-center" style="color: #EB5824;">$2 / package</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Is your package is fragile, or you need some extra peace of mind? We offer Special Packing, Extra Bubble Wrap, Cushioning, Fragile Stickers.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-12.png" width="50">
            </div>
              <h3 class="text-center mt-2">White Glove Handling</h3>
              <h6 class="text-center" style="color: #EB5824;">$2 / order</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Are your items delicate or need special care and attention? Do not worry! 
                They will get the special treatment they deserve
              </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row  card-2 mt-3">
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-13.png" width="50">
            </div>
              <h3 class="text-center mt-2">Overweight Packages</h3>
              <h6 class="text-center" style="color: #EB5824;">Starting at $10</h6>
              <h6  class="text-center"style="color: #111D3080;">
                Overweight packages will have a surcharge fee of $10 for packages 30 lbs and over.
                 Contact customer service to learn details for each carrier.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card  h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-14.png" width="50">
            </div>
              <h3 class="text-center mt-2">Oversize Packages</h3>
              <h6 class="text-center" style="color: #EB5824;">$110</h6>
              <h6 class="text-center"style="color: #111D3080;">
                Any packages that exceed 47 inches need to pay the additional $110 for the oversize charge.
              </h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="/assets/pricing-card/card-15.png" width="50">
            </div>
              <h3 class="text-center mt-2">Additional Storage</h3>
              <h6 class="text-center" style="color: #EB5824;">¢10 / lbs / day</h6>
              <h6 class="text-center"style="color: #111D3080;">
                After Free Storage of 60 Days, we keep storing your items up to 90 days by paying additional fee.
              </h6>
          </div>
        </div>
      </div>
    </div>
</div>
<!---------------------------------------------------------Best-------------------------------------------------------------->
<div class="best h-100">
  <h2 class="text-center mt-5">Best shipping rates at Ship7!</h2>
  <h5 class="text-center mt-5">Save big with discounted shipping rates from the USA, UK & TR to more than 120</h5>
  <h5 class="text-center">
    destinations worldwide. Get your shipping address for free and shop online! Sign</h5>
    <h5 class="text-center">up to enjoy a smooth international shipping experience.</h5>
    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn btn- btn-primary rounded" routerLink="/joinus">Sign up</button>
    </div>

</div>

<!------------------------------------------------table ---------------------------------------->
<div class="table1 h-100 mt-5">
<div class="container">
    <table class="table mt-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col-sm-1">WHY SHIP7?</th>
            <th scope="col-sm-1">Ship7</th>
            <th scope="col-md-1">MyUs (Single)</th>
            <th scope="col-md-1">MyUs (Premium)</th>
            <th scope="col-md-1">Shipito (Single)</th>
            <th scope="col-md-1">Shipito (Mailbox)</th>
            <th scope="col-md-1">Planet Express (Single)</th>
            <th scope="col-md-1">Planet Express (Premium)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Membership</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Incoming Package</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Box Photos</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Items Photos</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row col-md-1">Consolidation 
              (Shipping Packages under 1 TRK#)</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Repacking</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">ales Tax-Free</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Multiple Shipments
            </th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Free Storage</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Insurance</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Bank Fee</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Small Items Fee</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Returns to Seller</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Shopping Service</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Tax-Free Warehouse </th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Carriers</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Dangerous Items Fee</th>
            <td>Free</td>
            <td>Free</td>
            <td>$7 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
            <td>Free</td>
            <td>$10 per month</td>
          </tr>
          <tr>
            <th scope="row">Invoices Removal</th>
            <td>Free</td>
            <td>Free</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <th scope="row">Shoes Box Removal</th>
            <td>Free</td>
            <td>Free</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>

          </tr>
          <tr>
            <th scope="row">Power-On Testing</th>
            <td>Free</td>
            <td>$2</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <th scope="row">Bubble Wrap</th>
            <td>Free</td>
            <td>$2</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <th scope="row">Plastic Bag Wrap</th>
            <td>Free</td>
            <td>$2</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <th scope="row">Stretch Wrap</th>
            <td>Free</td>
            <td>$2</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tbody>
      </table>
</div>
</div>

<app-footer></app-footer>