<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="card-body">
                        <h1>We are your safe shopping assistant best friends in USA, UK and Turkey!</h1>
                        <div>
                            <h6>You Shop, We Send To You!</h6>
                        </div>
                        <div>
                            <p class="mt-3">Ship7 is a parcel forwarding and shopping assistance service based in New Jersey, 
                                London, and Istanbul for people who live outside of the United States, the UK, and Turkey. 
                                Once our members register Ship7, we provide them free the US, UK, 
                                and Turkish addresses and help them shop their favorite stores. 
                                Then we forward their items to their home addresses via our trustworthy courier partners.</p>
                        </div>
                        <div>
                            <p class="mt-3">
                                consolidating their items. Buying multiple items from different stores and instead of paying separate shipping costs from the USA, the UK, and Turkey, 
                                we consolidate for our customers and they just pay the single shipping cost. We work for them to shop freely from all brands in the USA, UK, and Turkey. 
                                If a store doesn’t accept their credit card, we provide them with buy for me service.
                            </p>
                        </div>
                        <div>
                            <p class="mt-3">
                                We are dedicated to constantly improving our service. Since our first goal is making easier online shopping from the USA, UK, and Turkey and receiving their items whole around the world, we work harder every day. Whether they want to purchase almost anything they can think of from the USA, UK and Turkey now customers can take advantage of our shipping prices, which are the most cost saving in the market. Thanks to our Delaware warehouse, we can provide a tax-free shopping option to our members that make international shipping cheaper.
                            </p>
                        </div>
                        <div>
                            <p class="mt-3">
                                In the meantime, we have had excellent responses through review platforms like<span style="color: blue;"> Facebook, Trustpilot </span>and <span style="color: blue;">Sitejaber</span>. We are very committed to creating a smooth shipping experience and get delivered our member’s items safely and quickly. Our excellent customer service, trustworthy partners, and lowest pricing are the secret of Ship7.  We will be here for all our members to help with every step of the process with the whole Ship7 team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <img src="/assets/about-1.png">

        </div>
    </div>
</div>
<app-footer></app-footer>