<app-sidebar></app-sidebar>
<div class="bgcolor">
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4>Your Account Balance : <strong style="color: green;">$ 0.00</strong></h4>
            <br><hr>
            <form (ngSubmit)="submit()" #amountForm="ngForm">
              <div class="form-group row">
                <div class="col-sm-3">
                  <input type="number" class="form-control" min="0" step="0.1" placeholder="Enter Amount" [(ngModel)]="amount" name="amount" required>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-primary" style="background-color: #405189;"[disabled]="amountForm.invalid">Load Enter Amount Credit</button>
                </div>
              </div>
            </form>
    </div>
    <div class="card mt-5">
        <form>
            <div class="form-group row mt-2">
              <label for="staticEmail" class="col-sm-2 col-form-label m-2">Filter by status</label>
              <div class="col-sm-4">
                <select class="form-control form-control-md mt-2" name="category">
                    <option value=""><strong>Display all items</strong> </option>
                    <option value="">Choose1... </option>
                    <option value="">Choose2... </option>
                  </select>
              </div> 
                <label for="staticEmail" class="col-sm-1 col-form-label m-2">Filter by Date</label>
                <div class="col-sm-4">
                  <select class="form-control form-control-md mt-2" name="category">
                      <option value="">last month </option>
                      <option value="">Choose1... </option>
                      <option value="">Choose2... </option>
                    </select>
                </div> 
              </div>
          </form>
    </div>

</div>
</div>