<nav class="navbar  navbar-warapper nav-item active fixed-top"[class.scrolled]="scrolled">
    <a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
        <img src="/assets/3683720.jpg" width="100" class="brand-image">
    </a>
    <div class="container">
        <div calss="row">
            <a href="/howitswork" class="navbar-brand text-light m-3">How It Works</a>
            <a href="/pricing" class="navbar-brand text-light m-3">Pricing</a>
            <a href="/aboutus" class="navbar-brand text-light m-3">About</a>
            <a href="/" class="navbar-brand text-light m-3">Shiping</a>
        </div>
        <div class="justify-content-start-end">
            <a href="/joinus" type="button"class="btn btn-link navbar-brand text-light">Join us</a>
            <a href="/login" type="button" class=" btn btn-link navbar-brand text-light">login</a>
            
          </div>
     </div>
</nav>




