<div class="container mt-5">
    <div 
      class="masthead mt-5"
      style="background-image: url('/assets/howits work/how-1.webp');">
      <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
          <h1>How Ship7 Works</h1>  
    </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="/assets/howits work/how-2.png" width="500" class="img1"> 
</div>
<h6 class=" text-1 text-center mt-5">Shop online from your favorite US, UK & TR online stores and get your packages delivered to your door 
   </h6>
   <h6 class=" text-1 text-center">with Ship7. Follow these 4 easy steps and enjoy smooth international shipping experience.</h6>
<div class="d-flex flex-column justify-content-center">
<div class="card-2">
    <div class="row">
        <div class="col-md-4">
          <div class="card  mt-5" style="background-color: #a8d1ff;">
            <div class="card-body">
                <h6 class="text-center mt-2">1.Get Your USA, UK & TR Addresses</h6>
                <h6  class="text-center mt-5">
                    Sign up with Ship7 and receive your free USA, UK & TR addresses immediately. Once you registered Ship7, you will have your own suite in our warehouse.
                </h6>
                <div class="d-flex justify-content-center mt-5">
                    <img src="/assets/howits work/h1.png" width="300">
                  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 r1">
            <div class="card  mt-5" style="background-color: #f1a268;">
              <div class="card-body">
                  <h6 class="text-center mt-2">2- Start Online Shopping From USA, UK & TR</h6>
                  <h6  class="text-center mt-5">
                    Shop online from multiple online retailers and take advantage of great deals of top US, UK & TR brands. Use your Ship7 shipping addresses when you checkout. We will notify you when we received your packages at our warehouse. If a store doesn’t 
                    accept your credit card, use our ShopForMe service.
                  </h6>
                  <div class="d-flex justify-content-center mt-5">
                      <img src="/assets/howits work/h2.png" width="300">
                    </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="card  mt-5" style="background-color: #a8d1ff;">
                  <div class="card-body">
                      <h6 class="text-center mt-2">3-Receiving Your Packages  </h6>
                      <h6  class="text-center mt-5">
                        Once we receive your packages, we will consolidate your packages
                         into one box and ship them to your home address. Save up to 80% thanks to free consolidation service. Avoid unnecessary dimensional
                         weight with repacking service and save even more with Ship7.
                      </h6>
                      <div class="d-flex justify-content-center mt-5">
                          <img src="/assets/howits work/h2.png" width="300">
                        </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 r1">
                <div class="card  mt-5" style="background-color: #eaeef3;">
                  <div class="card-body">
                      <h6 class="text-center mt-2">3-Receiving Your Packages  </h6>
                      <h6  class="text-center mt-5">
                        Once we receive your packages, we will consolidate your packages
                         into one box and ship them to your home address. Save up to 80% thanks to free consolidation service. Avoid unnecessary dimensional
                         weight with repacking service and save even more with Ship7.
                      </h6>
                      <div class="d-flex justify-content-center mt-5">
                          <img src="/assets/howits work/h3.png" width="300">
                        </div>
                  </div>
                </div>
              </div>
              <h5 class="text-center mt-5">
                Even the stores don’t offer international shipping; now, you can shop online from US, UK & TR  stores with Ship7. Get your own USA, UK & TR addresses to receive packages from retailers and ship via Ship7. Shop freely; we’ll consolidate your packages and ship them to your doorstep with the best shipping rates and carriers! Join thousands of satisfied customers and save money by shopping from the USA, UK & TR. Avoid taxes to save more with our Delaware warehouse! Enjoy<span style="color: #eb5824;"> tax-free</span> shopping with Ship7.
              </h5>
          </div>
    </div>

</div>
</div></div>
<app-footer></app-footer>


