<app-sidebar></app-sidebar>
<div class="container mt-5">
    <div class="row">
        <div class="card h-100">
            <div class="card-body">
                <span style="color: #dd4b39; font-family:poppins,sans-serif;">
                    Dear Customer,<br>
                    If you are not able to locate your home country int the COUNTRY dropdown, this may be as a result of possible usage of VPN while 
                    <br>registering on Ship7.
                    <br><br>
                    
                    You can update your country in your profile page. If you face with problems on updating your home country please contact to our support
                    <br> team and we'll assist you on this.
                </span>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-primary m-3" (click)="showModel.showbtn =!showModel.showbtn">
            <i class="fa fa-plus"></i>
            New Address
        </a>
      </div>

      <ng-container *ngIf="showModel.showbtn">
        <div class="modal fade show right-popup" id="staticBackdropLive" style="display: block;background-color: rgba(0, 0, 0, 0.3);">
            <div class="modal-dialog modal-lg ">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closebtn()"></button>
                </div>
                <div class="card-body">
                 <form>
                    <label for="name"class="text-dark mt-2">ALIAS (Short name to remember)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">CONTACT PERSON (Optional - If not owner)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">COUNTRY</label>
                    <select class="form-control form-control-md mt-2" name="category">
                        <option value="">india</option>
                        <option value="">Choose1... </option>
                        <option value="">Choose2... </option>
                      </select>
                      <label for="name"class="text-dark mt-2">POSTAL CODE (If applicable)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                      <label for="name"class="text-dark mt-2">City</label>
                    <select class="form-control form-control-md mt-2" name="category">
                        <option value="">chennai </option>
                        <option value="">Choose1... </option>
                        <option value="">Choose2... </option>
                      </select>
                      <label for="name"class="text-dark mt-2">STATE / PROVINCE (Optional)</label>
                    <select class="form-control form-control-md mt-2" name="category">
                        <option value=""><strong>tamilnadu</strong> </option>
                        <option value="">Choose1... </option>
                        <option value="">Choose2... </option>
                      </select>
                    <label for="name"class="text-dark mt-2">ADDRESS LINE 1</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">ADDRESS LINE 2 (Optional)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="number"class="text-dark mt-2" max="0" max="9">PHONE (Required)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">E-MAIL (Optional)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">VAT / TAX ID (Optional)</label>
                    <input type="text" class="form-control col-md-5 mt-2">
                    <label for="name"class="text-dark mt-2">NOTES (Optional)</label>
                    <input type="text" class="form-control  col-md-5 mt-2">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <button class="btn btn-success">Save</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success">Close</button>
                        </div>
                    </div>
                 </form>
                </div>
            </div>
        </div>
     </div>
  </ng-container>
</div>
</div>
