<nav class="navbar-expand-lg navbar-light bg-light ">
    <img src="assets/img/n4mflbkd.png" alt="" width="300" class="d-inline-block align-text-top">
      <div class="position-absolute top-0  end-0">
        <button type="button" class="btn">SHOP</button>
        <button type="button" class="btn">OUR STORY</button>
        <button type="button" class="btn">FIND US</button>
        <button type="button" class="btn">CAFE</button>
        <button type="button" class="btn">Blog</button>
        <a href="/login" type="button" class="btn btn-sm m-2">LOGIN</a>
    </div>

</nav>

 <div class="row g-2 mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="container justify-content-center d-fliex ">
                        <h5 class="h mt-5">LIMITED TIME ONLY!</h5>
                        <h4 class="h1" >Birthday Cake</h4>
                        <h4 class="h1">Batter</h4>
                        <p class="p mt-5">We took the essence of fun and happiness—but mostly cake—and combined it with our classic Barnie's Blend to create this coffee.</p>
                        <div class="shop mt-5"><button  type="button" class="btn btn-dark btn-lg btn-lg m-2">shop Now</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="container justify-content-center d-fliex ">
                            <h4 class="h2" >WelCome to</h4>
                            <h4 class="h1">Falvor</h4>
                            <p class="p1 mt-5">We started our journey nearly 40 years ago inspired to create the most dramatically delicious coffee in the world. Folks around the globe now enjoy our scrumptious, delectable, decadent flavors.</p>
                            <div class="shop mt-5"><button  type="button" class="btn btn-warning btn-lg btn-lg m-2">SHOP BUGGED COFFEE</button></div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
      <div class="col-md-6">
       <div class="img"><img src="assets/img/eib5na8g.png"class="d-inline-block align-text-top"></div>
      </div>
</div>

<div class="about mt-5">
    <div clsss="row col-md-12">
        <div class=" about card-body ">
                <div class="contaier d-flex justify-content-center">
                    <h2 class="p2 mt-1">NO ONE DOES FLAVOR LIKE US</h2>
                    <a href="#" type="button" class="a btn btn-sm m-2 btn-link">ABOUT US</a>
                </div>
         </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
             <div class="container">
                <h3 class="h3">Happy Customers</h3>
                <h4 class="h3">We love our fans a latter</h4>
            <div>
            <a href="https://www.reviews.io/" type="button" class="btn btn-sm m-2 btn-link"><img src="assets/img/e485z6az.png" herf="" alt="logo" style="padding-left: 4%;"></a>
            </div>  
            </div>
         </div>
        </div>
    </div>
    <div class="col-md-6">
         <h3>reviews</h3>
        <p class=p5>I love salted toffee candy, so I thought I would try English Salted Toffee coffee. It did not disappoint. So delicious!
            -Bala
        </p>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body container min-vh-100 d-flex justify-content-center" style="align-items: center;">
                    <h4 class="h5">NOW Tranding</h4>
                    <div class="shop1"> <a href="#" type="button" class="a btn btn-lg btn-danger">SHOP NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div><img src="assets/img/1szd7vpd.png" alt="shop"><h3 class="h1">rate 120$</h3></div>
                    <div><img src="assets/img/1szd7vpd.png" alt="shop"><h3 class="h1">rate 110$</h3></div>
                    <div><img src="assets/img/1szd7vpd.png" alt="shop"><h3 class="h1">rate 130$</h3></div>
                    <div><img src="assets/img/1szd7vpd.png" alt="shop"><h3 class="h1">rate 140$</h3></div>    
                </div>
            </div>
        </div>
            
    </div>

    
</div>   
        

