<app-sidebar></app-sidebar>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-dark">
                        <h6>Security Information</h6>
                        <form>
                            <label for="name"class="text-dark mt-2">CURRENT PASSWORD</label>
                            <input type="text" class="form-control col-md-5">

                            <label for="name"class="text-dark mt-4">YOUR NEW PASSWORD</label>
                            <input type="text" class="form-control col-md-5">

                            <label for="name"class="text-dark mt-4">RE-ENTER YOUR PASSWORD</label>
                            <input type="text" class="form-control col-md-5">
            
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    <button class="btn btn-success" routerLink="/changepassword">Save Change Password</button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-dark" routerLink="/myaccount">Back to myaccount</button>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>