<form>
    <section>
        <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-6">
            <div class="row p-4">
                <label for="email" class="form-label mt-1">Warehouse</label>
                <select class="form-select col-md-5" aria-label="Default select example">
                    <option selected>Saddle Brook</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="email" class="form-label mt-2">Supplier Name</label>
                <select class="form-select col-md-5" aria-label="Default select example">
                    <option selected>Saddle Brook</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                    <label for="email" class="form-label mt-2">Product Name</label>
                    <select class="form-select col-md-5" aria-label="Default select example">
                        <option selected>Saddle Brook</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div id="table-wrapper" class="mt-2" style="height: 250px; overflow-y: scroll;">
                    <table class="container-fluid">
                        <thead>
                            <tr>
                                <th scope="col">pallet id</th>
                                <th scope="col">Location</th>
                                <th scope="col">Lot No</th>
                                <th scope="col">pallet id</th> 
                                <th scope="col">Available Qty</th>
                                <th scope="col">Required City</th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr class="m-3">
                            <th>
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                        <tr class="m-3">
                            <th>
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                        <tr class="m-3">
                            <th scope="row sm-1">
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                        <tr class="m-3">
                            <th>
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                        <tr class="m-3">
                            <th>
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                        <tr class="m-3">
                            <th>
                                <input type="text" class="form-control input-sm-1 m-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;">
                            </th>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                            <td><input type="text" class="form-control input-sm-1" id="exampleFormControlInput1" style="height: 40px; width: 95px;"></td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            <div class="mt-4">
                <label for="exampleInputEmail1" class="form-label">Total Qty Need</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mt-1">
                <label for="exampleInputEmail1" class="form-label">Notes</label>
                <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Notes">
            </div>
            <button type="button" class="btn btn-success grid gap-2 mt-2 text-center">Add Product to Release Order List</button>
            </div>
            </div>
            <div class="col-md-6 p-5">
                    <div class="card border-show">
                    <div class="card-body">
                        <div id="table-wrapper"style="width:;overflow-x:scroll;">
                                   <table class="table caption-top">
                                       <caption style="font-weight: bold;">Release Order List</caption>
                                        <thead class="table-dark" style="font-size: small;">
                                       <tr>
                                           <th scope="col">S.No</th>
                                           <th scope="col">Warehouse</th>
                                           <th scope="col">Suplier Name</th>
                                           <th scope="col">Product Name</th>
                                           <th scope="col">Location</th>
                                           <th scope="col">pallet</th>
                                           <th scope="col">Quantity</th>
                                           <th scope="col">Notes</th>
                                       </tr>
                                       </thead>
                                       <tbody>
                                       <tr>
                                           <th scope="row">Total</th>
                                           <td>Number Of Product:0</td>
                                           <td>0</td>
                                        
                                       </tr>
                                   </tbody>
                                   </table>
                               </div>
                          <form [formGroup]="releaseorder" enctype="multipart/form-data">
                                <label for="formFileSm" class="form-label mt-3">Attachment pls Upload File Size 1MB </label>
                                <input class="form-control form-control-sm mt-3" id="formFileSm" type="file" formControlName="releaseorder" />
                                <span *ngIf="releaseorder.controls['releaseorder'].invalid && (releaseorder.controls['releaseorder'].dirty || releaseorder.controls['releaseorder'].touched)" class="text-danger c-1">
                                    <span *ngIf="releaseorder.controls['releaseorder'].errors"> Select the File</span>
                                  </span>   
                                <input class="form-control form-control-sm mt-3" id="formFileSm" type="file"  formControlName="releaseorder"/>
                                <span *ngIf="releaseorder.controls['releaseorder'].invalid && (releaseorder.controls['releaseorder'].dirty || releaseorder.controls['releaseorder'].touched)" class="text-danger c-1">
                                    <span *ngIf="releaseorder.controls['releaseorder'].errors"> Select the File</span>
                                  </span>   
                                <input class="form-control form-control-sm mt-3" id="formFileSm" type="file"  formControlName="releaseorder"/>
                                <span *ngIf="releaseorder.controls['releaseorder'].invalid && (releaseorder.controls['releaseorder'].dirty || releaseorder.controls['releaseorder'].touched)" class="text-danger c-1">
                                    <span *ngIf="releaseorder.controls['releaseorder'].errors"> Select the File</span>
                                  </span>   
                                <input class="form-control form-control-sm mt-3" id="formFileSm" type="file" formControlName="releaseorder"/>
                                <span *ngIf="releaseorder.controls['releaseorder'].invalid && (releaseorder.controls['releaseorder'].dirty || releaseorder.controls['releaseorder'].touched)" class="text-danger c-1">
                                    <span *ngIf="releaseorder.controls['releaseorder'].errors"> Select the File</span>
                                  </span>   
                                <button (click)="onSubmit()" type="button" class="btn btn-success mt-3">Release Order Now</button> 
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</form>
