.card{
    background-color: whitesmoke;
    font-family: poppins,sans-serif;
}
.container
{
    font-family: poppins,sans-serif;
}
input{
	border-bottom: 3px solid #333!important;
	font-weight: bold;
	border-radius: 0;
	border: 0;
    background-color: whitesmoke;

}

input:focus{
    box-shadow: none;
}