<app-sidebar></app-sidebar>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-dark">
                        <h6>Personal Information</h6>
                        <form>
                            <label for="name"class="text-dark mt-2">COMPANY</label>
                            <input type="text" class="form-control col-md-5">
                            <label for="name"class="text-dark mt-2">Name</label>
                            <input type="text" class="form-control col-md-5">
                            <label for="name"class="text-dark mt-2">OTHER (LOCAL) NAMES</label>
                            <input type="text" class="form-control col-md-5">
                            <button class="btn btn-primary mt-3" routerLink="/updatepersonaldetails">Change Personal Info</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-dark">
                        <h6>Security Information</h6>
                        <form>
                            <label for="name"class="text-dark mt-2">Email</label>
                            <input type="text" class="form-control col-md-5">
                            <label for="name"class="text-dark mt-2">Passwword</label>
                            <input type="password" class="form-control col-md-5">
                            <button class="btn btn-primary mt-3"routerLink="/changepassword">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-dark">
                        <h6>My Address</h6>
                        <form>
                            <label for="name"class="text-dark mt-2">COUNTRY</label>
                            <input type="text" class="form-control col-md-5">
                            <label for="name"class="text-dark mt-2">Address</label>
                            <input type="text" class="form-control col-md-5">
                            <button class="btn btn-primary mt-3" routerLink="/addressbook">Update My Address</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>